/*--------------------------------------------------*/
/*// No media query since this is the default in Bootstrap*/
.orange {
    background-color: #E6563B;
}

.yellow {
    background-color: #DEA03D;
}

.green {
    background-color: #7CB06C;
}

.blue {
    background-color: #00ABA9;
}

body {
    background-color: #F0F0F0;
    margin: 0 auto;
}
.logo {
    /*instructions say 105px BUT it doesn't look right on XS screen size at 105px*/
    height: 50px;
    width: 50px;
}
.navbar {
    line-height: 0em;
}
.navbar-brand {
    font-family: 'Abel', serif;
    font-weight: unset;
}

#head-nav-link {
    font-family: Abel, sans-serif;
    color: black;
    font-size: 1.5em;
}

hr {
    border-bottom: 1px solid gray;
}
h1 {
    font-size: 4.8em;
    font-family: 'Anton', serif;
}
h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3em;
    font-family: 'Anton', serif;
}
#first-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#stayMiddle {
    flex-direction: column;
    width: 100%;
    height: 5em;
}
#first-grid {
    margin-top: 3em;
}
.navbar-brand {
    font-size: 4em;
}

.sm-container {
    max-width: 60%;
}
#tab-circles-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.circle-img {
    height: 85px;
    width: 85px;
    margin: .5em .5em;
}
.featured-img {
    width: 100%;
    border: 3px solid #E6E6E6;
}
#sub-section-title {
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: Abel;
    font-size: 1.3em;
    text-align: center;
}
.featured-bottom-line {
    display: flex;
    margin-top: 5px;
    padding: 0em;
    margin-bottom: 1em;
}
.featured-title {
    font-family: Abel;
    font-size: 1.4em;
    flex-basis: 70%;
    padding: 0em;
}
.featured-icons {
    display: flex;
    line-height: 18px;
    padding: 0em;
    margin: 0em;
    flex-basis: 30%;
    align-items: center;
    justify-content: space-between;
}
.featured-icon {
    height: 25px;
    width: 25px;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    #tab-circles-group {
        /*display: flex;*/
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        margin: 2em 0em;
    }
    .sm-container {
        max-width: 100%;
    }
    .circle-img {
        height: 125px;
        width: 125px;
        margin: .5em 0em;
    }

    .left-container {
        flex-wrap: wrap;
        padding: 0;
    }

    .featured-work {
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .selected-work {
        width: 100%;
        margin: 0px 15px;
        flex: 0 0 42%;
    }

    .featured-bottom-line {
        align-items: center;
    }

    .featured-icon {
        padding: .5em .5em;
        width: 30px;
        height: 30px;
    }
/*  next curly brace is the end of medium sized devices  */
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    #navbarNav {
        margin-left: 1.5em;
    }
    #company-name {
    font-family: 'Abel';
    font-size: 1.5em;
    }
    h1 {
        font-size: 4em;
    }
    h4 {
        font-size: 2.5em;
        margin: 0em;
    }
    #tab-circles-group {
        justify-content: center;
    }
    .left-right-container {
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
    }
   .left-container {
       width: 60%;
       flex: 0 0 60%;
   }
   .circle-img {
       margin: 0em 1em;
   }

   .featured-work {
       font-size: 10px;
       display: flex;
       flex-wrap: wrap;
   }
    .selected-work {
        width: 100%;
        margin: 15px;
        flex: 0 0 42%;
    }
    .sub-section-title {
        margin-bottom: 1em;
        font-family: Abel;
        font-size: 1.5em;
        text-align: center;
    }
   .featured-title {

       display: inline;
       line-height: 18px;
       font-size: 1.3em;
   }
   .featured-icons {
       display: flex;
       float: right;
       line-height: 18px;
   }
    .right-container {
        display: flex;
        max-width: 40%;
        flex: 0 0 40%;
    }
    .posts {
        display: flex;
        flex-wrap: wrap;
    }
    .post {
        display: flex;
        padding: 0px 0px 25px 0px;
    }
    .post-image img {
        width: 70px;
        height: 55px;
        flex: 0 0 33%;
        padding-top: 7px;
    }
    .post-title {
        font-family: 'Anton', sans-serif;
        font-size: 1.7em;
        padding-left: 10px;
        font-weight: bolder;
        flex: 0 0 65%;
    }
    .tweets {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
    .tweet-container {
        padding-right: 20px;
    }
    .fa-twitter {
        color: #1DA1F2;
    }
    .tweet {
        padding-left: 10px;
        font-weight: bolder;
    }
   #circle-img {
       box-sizing: unset;
       height: 105px;
       width: 105px;
   }
    /*// The next curly brace is the end of Large screen (992px and up)*/
}


/*This Exercise groups Large and Extra Large Devices.*/
/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .left-container {
        width: 75%;
        flex: 0 0 75%;
    }
    .right-container {
        display: flex;
        max-width: 25%;
        flex: 0 0 25%;
    }
    .post {
        display: flex;
        padding: 0px 0px 25px 0px;
    }
    .post-image img {
        width: 50px;
        height: 50px;
        flex: 0 0 33%;
        padding-top: 7px;
    }
    .post-title {
        font-family: 'Anton', sans-serif;
        font-size: 1.2em;
        padding-left: 10px;
        font-weight: bolder;
        flex: 0 0 65%;
    }
}